@page
@model ScheduleMaker.Pages.Edit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <script src='https:Calendar//cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
</div>
</body>
</html>